* {
  border: none;
  border-radius: 0;
  font-family: "CaskaydiaCove Nerd Font", "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 14px;
  min-height: 10px;
}

window#waybar {
  background: rgba(0, 0, 0, 0.5);
}

#workspaces {
  border-radius: 16px;
  margin-left: 10px;
  padding-right: 0px;
  padding-left: 5px;
}

#workspaces button {
  box-shadow: none;
  text-shadow: none;
  border-radius: 4px;
  margin-right: 5px;
  margin-left: 5px;
  color: #cdd6f4;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.active {
  background: #a6adc8;
  color: #313244;
  margin-left: 5px;
  margin-right: 5px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button:hover {
  background: #f5c2e7;
  color: #313244;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}

#custom-power,
#custom-powermenu,
#custom-media,
#custom-dunst,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#bluetooth,
#temperature,
#cpu,
#memory,
#backlight {
  /* background: #0f0f0f; */
  padding: 2px 10px;
  /* 5px 0px */
  margin: 6px 0px 0px 0px;
  border: 0px solid #161616;
}

#tray {
  border-radius: 0px 16px 16px 0px;
}

#custom-media {
  color: #cba6f7;
  border-radius: 16px;
  margin-right: 10px;
}

#bluetooth {
  color: #89dceb;
  border-radius: 16px 0px 0px 16px;
  border-right: 0px;
}

#window {
  border-radius: 16px;
  margin-left: 60px;
  margin-right: 60px;
}

#clock {
  color: #f9e2af;
  border-radius: 16px;
  margin-left: 10px;
  margin-right: 10px;
}

#temperature {
  color: #fab387;
}

#temperature.critical {
  background-color: #f7768e;
  color: #24283b;
}

#network {
  border-radius: 16px 0px 0px 16px;
}

#pulseaudio {
  color: #89b4fa;
  border-left: 0px;
  border-right: 0px;
}

#battery {
  color: #9ece6a;
}

#battery.charging {
  color: #9ece6a;
}

#battery.warning:not(.charging),
#battery.critical {
  background-color: #f7768e;
  color: #24283b;
}

#custom-power {
  color: #f7768e;
  padding-right: 15px;
}

#custom-lock,
#custom-reboot,
#custom-power {
  font-size: 16px;
  padding: 0px 10px;
}

#backlight,
#memory {
  color: #cba6f7;
  border-left: 0px;
  border-right: 0px;
}
