* {
  border: none;
  border-radius: 0;
  font-family: CaskaydiaCove Nerd Font, JetBrains Mono, Operator Mono;
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: rgba(30, 30, 30, 0.5);
  color: #cdd6f4;
}

#workspaces button {
  padding: 5px;
  color: #d4d4d4;
  margin-right: 5px;
}

#workspaces button.focused {
  color: #a6adc8;
  background: #eba0ac;
  border-radius: 16px;
}

#workspaces button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 6px;
  padding-right: 6px;
}

#workspaces button.active {
  border-radius: 16px;
  background-color: #8283bf;
  color: rgb(26, 24, 38);
}

#workspaces button.urgent {
  color: rgb(26, 24, 38);
}

#workspaces button:hover {
  background-color: rgb(248, 189, 150);
  color: rgb(26, 24, 38);
  border-radius: 16px;
}

#custom-media,
#custom-dunst,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#bluetooth,
#temperature,
#cpu,
#memory,
#backlight {
  background: #0f0f0f;
  padding: 0px 10px;
  margin: 5px 0px;
  /* margin-top: 10px; */
  border: 0px solid #161616;
}

#tray {
  border-radius: 0px 16px 16px 0px;
  /* margin-left: 10px; */
}

#workspaces {
  border-radius: 16px;
  margin-left: 10px;
  padding-right: 0px;
  padding-left: 5px;
}

#custom-media {
  color: #cba6f7;
  border-radius: 16px;
  margin-right: 10px;
}

#bluetooth {
  color: #89dceb;
  border-radius: 16px 0px 0px 16px;
  border-right: 0px;
  margin-left: 10px;
}

#window {
  border-radius: 16px;
  margin-left: 60px;
  margin-right: 60px;
}

#clock {
  color: #f9e2af;
  border-radius: 16px;
  margin-left: 10px;
  margin-right: 10px;
}

#temperature {
  color: #fab387;
}

#temperature.critical {
  background-color: #f7768e;
  color: #24283b;
}

#network {
  border-radius: 16px 0px 0px 16px;
}

#pulseaudio {
  color: #89b4fa;
  border-left: 0px;
  border-right: 0px;
}

#battery {
  color: #9ece6a;
}

#battery.charging {
  color: #9ece6a;
}

#battery.warning:not(.charging), #battery.critical {
  background-color: #f7768e;
  color: #24283b;
}

#backlight,
#memory {
  color: #cba6f7;
  border-left: 0px;
  border-right: 0px;
}
